@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,600;1,600&family=Jost:wght@400;500&display=swap");
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Jost", sans-serif;
  color: #27300f;
}

.header {
  max-width: 1440px;
  margin: 0 auto 6rem;
  padding: 4rem 15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  display: flex;
  gap: 4.8rem;
}
.header__link {
  opacity: 0.9;
  line-height: 1.2;
  font-weight: 400;
  color: #27300f;
}
.header__link:hover {
  color: #d26a22;
}
.header__tel {
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #27300f;
}
.header__tel:hover {
  color: #d26a22;
}
.header__cart {
  display: block;
  background-image: url("/src/images/header/cart-black.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 100%;
  background-color: #d26a22;
  background-size: 1.7rem 1.5rem;
  position: relative;
  border: 1px solid #d26a22;
  z-index: 1;
}
.header__cart:hover {
  background-color: #27300f;
  border: 1px solid #27300f;
}
.header__counter {
  position: absolute;
  right: 1rem;
  top: 0.3rem;
  font-size: 0.8rem;
  color: #fff;
}
.logo {
  display: block;
  background-image: url("/src/images/header/logo.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 12.3rem;
  height: 3.2rem;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main {
  background-image: url("/src/images/header/main.png");
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 19rem;
  z-index: 0;
}
.main__item {
  margin-left: 12rem;
  max-width: 378px;
}
.main__link {
  margin-top: 60px;
  margin-left: 12rem;
}
.main__flex {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}
.main__cover {
  flex-basis: 763px;
  height: 763px;
  border: 1px solid rgba(39, 48, 15, 0.4);
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main__line {
  width: 658px;
  height: 658px;
  border: 1px solid rgba(39, 48, 15, 0.4);
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__image {
  width: 92%;
}
.main__btn {
  background-color: transparent;
  position: absolute;
  color: #27300f;
  text-align: left;
}
.main__btn:hover .main__btn::before {
  background-color: #d26a22;
  box-shadow: 0 0 0 4px #fff, 0 0 0 5px #d26a22;
}
.main__btn::before {
  content: "";
  background-color: #27300f;
  width: 11px;
  height: 11px;
  box-shadow: 0 0 0 4px #fff, 0 0 0 5px #27300f;
  border-radius: 100%;
  position: absolute;
}
.main__btn_01 {
  top: 57px;
  left: 73px;
}
.main__btn_01::before {
  top: 15px;
  left: 72px;
}
.main__btn_02 {
  bottom: 564px;
  right: 73px;
}
.main__btn_02::before {
  bottom: -22px;
  right: 20px;
}
.main__btn_03 {
  top: 765px;
  right: 254px;
}
.main__btn_03::before {
  top: -22px;
  right: 20px;
}
.main__food {
  display: block;
  color: rgba(39, 48, 15, 0.8);
}
.main__tomato {
  position: absolute;
  bottom: 170px;
  right: 137px;
  width: 11rem;
  height: 12rem;
  z-index: -1;
}
.main__avocado {
  position: absolute;
  top: 37px;
  right: 0;
  width: 18rem;
  height: 19rem;
  z-index: -1;
}
.main__cucumber {
  position: absolute;
  top: 0;
  left: 724px;
  width: 8rem;
  height: 4rem;
  z-index: -1;
}
.main__pepper {
  position: absolute;
  top: 411px;
  left: 38px;
  width: 9rem;
  height: 7rem;
  z-index: -1;
}
.main__image_3 {
  position: absolute;
  bottom: 115px;
  left: 0;
  z-index: -1;
}

.title {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 8rem;
  margin-bottom: 6rem;
}
.title__span {
  font-style: italic;
}
.title__block .title__span {
  display: block;
}

.description {
  margin: 0;
}
.description_size-s {
  font-size: 1.8rem;
  line-height: 27px;
  font-weight: 400;
}
.description_size-m {
  font-size: 2.4rem;
  line-height: 36px;
  font-weight: 400;
}

.link {
  color: #fff;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #ffffff;
  background-color: #d26a22;
  padding: 2.5rem 4.2rem;
  border-radius: 3.8rem;
  box-shadow: 0px 1rem 1.1rem 0.2rem rgba(207, 92, 13, 0.2);
}

.offer {
  background-image: url("/src/images/offer/offer.png");
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  padding-top: 0.5rem;
  padding-bottom: 200px;
}
.offer__text {
  margin-top: 20px;
  max-width: 700px;
}

.swiper-slide {
  border: 1px solid red;
}