// Шрифты =================================================================
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,600;1,600&family=Jost:wght@400;500&display=swap');

// =================================================================

$green: #27300f;
$orange: #d26a22;
$white: #fff;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: $font-jost;
  color: $green;
}
//=============================
.main {
  background-image: url('/src/images/header/main.png');
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 19rem;

  &__item {
    margin-left: 12rem;
    max-width: 378px;

  }
  &__link {
    margin-top: 60px;
    margin-left: 12rem;
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
  }
  &__cover {
    flex-basis: 763px;
    height: 763px;
    border: 1px solid rgba($green, 0.4);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  &__line {
    width: 658px;
    height: 658px;
    border: 1px solid rgba($green, 0.4);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__image {
    width: 92%;
  }
  &__text {
  }
  &__btn {
    width: 11px;
    height: 11px;
    border-radius: 100%;
    background-color: $green;
    box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
    position: absolute;
    &_01 {
      top: 100px;
      left: 113px;
    }
    &_02 {
      bottom: 50px;
      right: 175px;
    }
    &_03 {
      top: 190px;
      right: 105px;
    }
  }
    &__tomato {
      position: absolute;
      bottom: 170px;
      right: 137px;
      width: 11rem;
      height: 12rem;
    }
      &__avocado {
        position: absolute;
        top: 37px;
        right: 0;
        width: 18rem;
        height: 19rem;
      }
      &__cucumber {
        position: absolute;
        top: 0;
        left: 724px;
        width: 8rem;
        height: 4rem;
      }
      &__pepper {
        position: absolute;
        top: 411px;
        left: 38px;
        width: 9rem;
        height: 7rem;
      }
      &__image_3 {
        position: absolute;
        bottom: 115px;
        left: 0;
        //width: 50%;
        //height: 10rem;
        }
      
}
.header {
  max-width: 1440px;
  margin: 0 auto 6rem;
  padding: 4rem 15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__nav {
    display: flex;
    gap: 4.8rem;
  }
  &__link {
  opacity: 0.9;
  line-height: 1.2;
  font-weight: 400;
  color: $green;
  &:hover {
    color: $orange;
    }
  }
  &__tel {
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: $green;
  &:hover {
    color: $orange;
    }
  }

  &__cart {
    display: block;
    background-image: url('/src/images/header/cart-black.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 100%;
    background-color: $orange;
    background-size: 1.7rem 1.5rem;
    position: relative;
    border: 1px solid $orange;
    &:hover {
      background-color: $green;
      border: 1px solid $green;
    }
  }
  &__counter {
    position: absolute;
    right: 1rem;
    top: .3rem;
    font-size: .8rem;
    color: $white;
  }

  &__nav {
  }


  &__item {
  }


  &__link {
  }


  &__tel {
  }


  &__cart {
  }


  &__counter {
  }
}
.logo {
  display: block;
  background-image: url('/src/images/header/logo.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 12.3rem;
  height: 3.2rem;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.title {
  font-family: $font-cormorant;
  font-weight: 700;
  font-size: 8rem;
  margin-bottom: 6rem;
  &__span {
    font-style: italic;
  }
  &__block {
    .title__span {
      display: block;
    }
  }
}
.description {
  margin: 0;
  &_size-s {
    font-size: 1.8rem;
    line-height: 27px;
    font-weight: 400;
  }
}
.link {
  color: $white;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #ffffff;
  background-color: $orange;
  padding: 2.5rem 4.2rem;
  border-radius: 3.8rem;
  box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
}