// Шрифты =================================================================
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,600;1,600&family=Jost:wght@400;500&display=swap');

// =================================================================

$green: #27300f;
$orange: #d26a22;
$white: #fff;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: $font-jost;
  color: $green;
}
//=============================
.header {
  max-width: 1440px;
  margin: 0 auto 4.8rem;
  padding: 4rem 15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__nav {
    display: flex;
    gap: 4.8rem;
    margin-right: 58px;
  }
  &__link {
  opacity: 0.9;
  line-height: 1.2;
  font-weight: 400;
  color: $green;
  &:hover {
    color: $orange;
    }
  }
  &__tel {
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: $green;
  &:hover {
    color: $orange;
    }
  }

  &__cart {
    display: block;
    background-image: url('/src/images/header/cart-black.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 100%;
    background-color: $orange;
    background-size: 1.7rem 1.5rem;
    position: relative;
    border: 1px solid $orange;
    z-index: 1;
    margin-left: 20px;
    &:hover {
      background-color: $green;
      border: 1px solid $green;
    }
  }
  &__counter {
    position: absolute;
    right: 1rem;
    top: .3rem;
    font-size: .8rem;
    color: $white;
  }
  &__item {
  }
}
.logo {
  display: block;
  background-image: url('/src/images/header/logo.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 12.3rem;
  height: 3.2rem;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.main {
  background-image: url('/src/images/header/main.png');
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 19rem;
  z-index: 0;
  &__item {
    margin-left: 12.3rem;
    max-width: 378px;
  }
  &__link {
    margin-top: 60px;
    margin-left: 12rem;
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
  }
  &__cover {
    flex-basis: 763px;
    height: 763px;
    border: 1px solid rgba($green, 0.4);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  &__line {
    width: 658px;
    height: 658px;
    border: 1px solid rgba($green, 0.4);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__image {
    width: 92%;
  }
  &__text {
  }
  &__btn {
    background-color: transparent;
    position: absolute;
    color: $green;
    text-align: left;
    &:hover {
      .main__btn {
        &::before {
          background-color: $orange;
          box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
        }
      }
    }
    &::before {
      content: '';
      background-color: $green;
      width: 11px;
      height: 11px;
      box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
      border-radius: 100%;
      position: absolute;
    }
    &_01 {
      top: 57px;
      left: 73px;
      &::before {
        top: 15px;
        left: 72px;
      }
    }
    &_02 {
      bottom: 564px;
      right: 73px;
      &::before {
        bottom: -22px;
        right: 20px;
      }
    }
    &_03 {
      top: 765px;
      right: 254px;
      &::before {
        top: -22px;
        right: 20px;
      }
    }
  }
  &__food {
    display: block;
    color: rgba($green, 0.8);
  }
    &__tomato {
      position: absolute;
      bottom: 170px;
      right: 137px;
      width: 11rem;
      height: 12rem;
      z-index: -1;

    }
      &__avocado {
        position: absolute;
        top: 37px;
        right: 0;
        width: 18rem;
        height: 19rem;
        z-index: -1;

      }
      &__cucumber {
        position: absolute;
        top: 0;
        left: 724px;
        width: 8rem;
        height: 4rem;
        z-index: -1;

      }
      &__pepper {
        position: absolute;
        top: 411px;
        left: 38px;
        width: 9rem;
        height: 7rem;
        z-index: -1;

      }
      &__image_3 {
        position: absolute;
        bottom: 115px;
        left: 0;
        z-index: -1;
        }
}

.title {
  font-family: $font-cormorant;
  font-weight: 700;
  font-size: 8rem;
  margin-bottom: 6rem;
  &__block {
    margin-left: .4rem;
  }
  &__span {
    font-style: italic;
  }
  &__block {
    .title__span {
      display: block;
    }
  }
}
.description {
  margin: 0;
  &_size-s {
    font-size: 1.8rem;
    line-height: 27px;
    font-weight: 400;
  }
  &_size-m {
    font-size: 2.4rem;
    line-height: 36px;
    font-weight: 400;
  }
}
.link {
  color: $white;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #ffffff;
  background-color: $orange;
  padding: 2.5rem 4.2rem;
  border-radius: 3.8rem;
  box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
}


// 2 BLOOCK =============================================================================================
.title {
  &__block {
    margin-top: 1.1rem;
  }

  &__span {
  }
}
.offer {
  background-image: url('/src/images/offer/offer.png');
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  padding-top: .5rem;
  padding-bottom: 200px;
  &__text {
    margin-top: 20px;
    margin-bottom: 100px;
    max-width: 700px;
  }
  &__description_size-m{
  }
}
.offerSwiper {
}
.swiper-wrapper{
}
.swiper-slide {
  overflow: initial;

  height: 520px;
  border: 1px solid rgba(241, 238, 238);
  border-radius: 20px;
  width: 500px;
  padding: 4rem 3.7rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  z-index: 0;
  &_white {
    &:hover {
      .swiper-slide__hover {
        height: 233px;
        opacity: 1;
      }
      &::after {
        content: '';
        background-color: rgba($white, .55);
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        position: absolute;
        top: 2px;
        left: 2px;
        border-radius: 2rem;
        z-index: -1;
      }
    }
  }
  &:hover {
    box-shadow: 0 0 0 2px rgb($green, 0.4) inset;
}
  &__milk {
    background: url('/src/images/offer/milk.png');
    background-repeat: no-repeat;
  }
  &__pasta {
    background: url('/src/images/offer/pasta.png');
    background-repeat: no-repeat;
  }
  &__steaks {
    background: url('/src/images/offer/steaks.png');
    background-repeat: no-repeat;
  }
  &__image_4 {
    background: url('/src/images/offer/image_4.png');
    background-repeat: no-repeat;
  }
  &__image_5 {
    background: url('/src/images/offer/image_5.png');
    background-repeat: no-repeat;
  }
  &__image_6 {
    background: url('/src/images/offer/image_6.png');
    background-repeat: no-repeat;
  }
  &__chicken {
    background: url('/src/images/offer/chicken.png');
    background-repeat: no-repeat;
  }
  &__egg {
    background: url('/src/images/offer/egg.png');
    background-repeat: no-repeat;
  }
  &__image {
    background: url('/src/images/offer/image_.png');
    background-repeat: no-repeat;
  }
  &__title {
    font-family: $font-cormorant;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    //margin-top: 75px;
    margin-bottom: 0;
    color: $green;
  }
  &__hover {
    height: 0;
    opacity: 0;
  }
  &__subtitle {
    max-width: 263px;
    opacity: 0.7;
    line-height: 24px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 45px;
    margin-top: 2.5rem;
  }
  &__link {
    text-transform: uppercase;
    font-weight: 500;
    color: $green;
    line-height: 1.2;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    letter-spacing: 0.1rem;
    margin-top: 10px;
    &:hover {
      opacity: 1;
    }
    &::before {
      content: '';
      display: block;
      width: 3rem;
      height: 3rem;
      background-image: url('/src/images/offer/plus.svg');
      background-size: cover;
      background-image: no-repeat;
    }
  }
}
.swiper-pagination {
  margin-top: 250px;
  padding-top: 200px;
  //display: none;
}
/// 3 section ====================================================================================================
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.about {
  //padding-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
  align-items: center;
  &__text {
  }

  &__title {
    max-width: 450px;
  }

  &__item {
    position: relative;
  }

  &__subtitle {
    margin-left: 122px;
    flex-basis: 625px;
  }

  &__list {
    display: flex;
    gap: 90px;
    margin-top: 191px;
    padding-left: 236px;
  }
  &__icon {
    width: 87px;
    height: 87px;
    box-shadow: 0 0 0 1px rgb($green, 0.4);
    //opacity: .4;
    border-radius: 100%;
    margin-bottom: 1rem;
  }
  &__fruits {
    &::before {
      content: '';
      width: 87px;
      height: 87px;
      background-image: url('/src/images/about/fruits.svg');
      //background-size: 44px 42px;
      background-repeat: no-repeat;
      top: 2rem;
      left: 2rem;
      position: absolute;
    }
  }
  &__good {
    &::before {
      content: '';
      width: 87px;
      height: 87px;
      background-image: url('/src/images/about/traditional.svg');
      background-repeat: no-repeat;
      top: 23px;
      left: 23px;
      position: absolute;
    }
  }
  &__traditional {
    &::before {
      content: '';
      width: 87px;
      height: 87px;
      background-image: url('/src/images/about/good.svg');
      background-repeat: no-repeat;
      top: 20px;
      left: 20px;
      position: absolute;
    }
  }
  &__slogan {
    font-family: $font-cormorant;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
    font-style: italic;
  }
}
.title {

  &__span {
  }
}
.description {


  &_size-s {
  }
}
// 3 section ======================================================================================================
.slider {
  overflow: hidden;
}
.trends {
  margin-bottom: 200px;
  &__slide {
    height: 685px;
  }
  &__subtitle {
    width: 255px;
  }
}
.swiper-slide {
  &__title {
    margin-bottom: 35px;
  }
  &__cover {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 293px;
    text-align: center;
  }
  &__image {
    //height: 100%;
  }
  &__price {
    margin-top: 35px;
    margin-bottom: 40px;
  }
  &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
}
.trends__subtitle_top {
  margin-bottom: 90px;
}
.counter {
  display: flex;
  justify-content: space-between;
  &__btn {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px solid $green;
    background-color: transparent;
    padding: 0;
    background-position: center center;
    border-radius: 100%;
  }
  &__minus {
    pointer-events: none;
    background-image: url('/src/images/trends/minus.svg');
    background-size: 20px 15px;
    background-repeat: no-repeat;
    opacity: .4;
  }
  &__input {
    width: 46px;
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: 400;
    text-align: center;
      }
  &__plus {
    background-image: url('/src/images/trends/plus.svg');
    background-size: 30px 25px;
    background-repeat: no-repeat;
  }
}
.link {
  padding: 26px 47px;
}